.header-container {
  position: relative;
  margin-bottom: 100px;
  min-height: 680px;
  background: url('../img/header/header-bg.jpg') center no-repeat;
  background-size: cover;
}

.intro {
  padding-top: 50px;

  &__heading {
    font-weight: bold;
    font-size: 82px;
    color: #fff;
    text-align: center;
  }

  &__slogan {
    margin-top: 20px;
    font-family: Lato, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #8D81AC;
  }

  &__text {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #848E97;
  }
}

.download {
  display: grid;
  row-gap: 20px;
  place-content: center;
  position: absolute;
  bottom: -52px;
  left: 50%;
  transform: translateX(-50%);

  &__btn-tooltip {
    font-size: 14px;
    color: #848E97;
    text-align: center;
  }
}

@include breakpoint($xmedium, $medium) {
  .intro {
    &__heading {
      font-size: 72px;
    }

    &__slogan {
      font-size: 24px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@include breakpoint(0, $s) {
  .intro {

    &__heading {
      font-size: 48px;
    }

    &__slogan {
      font-size: 18px;
    }

    &__text {
      font-size: 14px;
    }
  }
}