a {
    text-decoration: none;
    color: inherit;
}
button{
  font-size: 100%;
  border: none;
  font-family: unset;
  font-weight: unset;
  padding: 0;
  background: none;
}

*{
  box-sizing: border-box;
}