@import "../../node_modules/reset-css/sass/reset";
@import "_variables";
@import "_mixins";
@import "_reset";
@import 'sections/sections';
@import 'components/components';

.page{
    padding: 2em 7vw;
    font-family: 'Lato';
    color: blue;
}