@import "../../node_modules/reset-css/sass/reset";
@import "variables";
@import "mixins";
@import "reset";
@import "sections/sections";
@import "components/components";


.page {
    font-family: 'Montserrat', sans-serif;
    min-width: $xs;
}

.wrapper {
    padding: 2em 7vw;
}