@import "../../node_modules/reset-css/sass/reset";
@import "variables";
@import "mixins";
@import "reset";
@import 'sections/sections';
@import 'components/components';

.page {
    padding: 2em 7vw;
    font-family: 'Lato';
    color: blue;
}