.editor{
    position: relative;
    text-align: center;

    @include gridCentered();
    gap: 2em;

    &__btn{
        position: absolute;
        top: 0;
        transform: translateY(-50%);

        &::after{
            content: 'Unlimited 30-Days Trial Period';
            font-weight: normal;
            position: absolute;
            width: 100%;
            bottom: -2.5em;
            left: 50%;
            transform: translateX(-50%);
            color: #848E97;
            font-size: 0.88rem;
        }
    }

    &__heading{
        text-transform: uppercase;
        color: #635C73;   
        font-weight: bold;
        font-size: 1.63em;
        margin-top: 4.5rem;
    }

    &__slogan{
        color: #323232;
        font-family: 'Lato', sans-serif;
        font-size: 0.88em;  
        line-height: 1.4em;   
    }
}
.counters-wrapper{

    display: grid;
    justify-items: center;    
    gap: 0.8em;

    color: #24292e;
    font-weight: bold;
    font-size: 0.7em;

    &__box{
        border: 1px solid lightgrey;
        display: flex;
        align-items: center;
        width: 9.14em;
        border-radius: 3px;

        &:last-child{
            grid-area: 2 / 1 / 3 / 3;
        }
    }

    &__btn{
        background:  linear-gradient(white, #eeeff1);;
        border-right: 1px solid lightgrey;
        padding: 0.6em 0;
        width: 60%;
        cursor: pointer;  
    }
    &__counter{
        padding: 0.6em 0;    
        width: 40%;
    }
}

@include breakpoint($xmedium, $medium) {
    .editor__heading{
        font-size: 2.6em;
    }
}

// for all screens starting from medium
@include breakpoint($xmedium){
    .editor__slogan{
        font-size: 1.3em;    
    }

    .counters-wrapper__box:last-child{
        grid-area: 1 / 3 / 2 / 4;
    }
}

// from large to ∞
@include breakpoint($large) {
    .editor__heading{
        font-size: 3.4em;
    }
}
