.features{
    padding: 2em 0 2em 7vw;
    display: grid;

    gap: 3em;
    text-align: center;

    &__heading{
        font-size: 2em;
        color: #8D81AC;
        font-weight: bold;
        justify-self: center;
        padding-right: 7vw;
    }

    &__box{
        display: grid;
        line-height: 1.2em;
        padding-right: 7vw;
    }

    &__text--heading{
        font-size: 1em;
        color: #323232;

        margin: 1em 0; //changeable
    }

    &__text--description{
        font-size: 0.8em;
        color: #848E97;
    }

    &__img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

// for all screens starting from medium
@include breakpoint($xmedium){
    .features__box{
        grid-template-columns: 111px auto;
    }

    .features__text{
        margin-left: 1.5em;
        text-align: left;

        &--heading{
            margin-top: 0;
        }
    }
}

// from large to ∞
@include breakpoint($large) {
    .features{
        padding-top: 4em;
        overflow-x: hidden;
        background: #F4F4F4;
        gap: 1.5em;
        align-items: center;
        grid-template: 
            "feature1 heading" auto
            "feature2 img" auto
            "feature3 img" auto
            "feature4 img" auto
            / 50% 50%;
        &__heading{
            font-size: 3.5vw;
            align-self: flex-start;
            justify-self: flex-start;
            text-align: left;
            line-height: 1.2;
            grid-area: heading;
            padding-right: 3vw;
        }

        &__img{
            grid-area: img;
        }

        &__box{
            margin-right: 0;
            padding-right: 0;

            &:first-of-type{
                grid-area: feature1;
            }
            &:nth-of-type(2){
                grid-area: feature2;
            }
            &:nth-of-type(3){
                grid-area: feature3;
            }
            &:last-of-type{
                grid-area: feature4;
            }
        }
    }
}