.testimonials {
  background: url('../img/testmonials/testmonials-bg.png') center no-repeat, #4c3b4e;
  background-size: cover;

  &__heading {
    margin: 1.2em 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
  }

  &__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__block {
    width: calc(100% / 3);
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 90px;
    padding: 0 1.5%;
  }

  &__img-wrapper {
    margin-bottom: 20px;
    width: 225px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    text-align: center;
  }

  &__line {
    width: 100%;
    border: 1px solid #645766;
    background-color: #645766;
    margin: 22px auto 0 auto;
  }

  &__additional-text {
    text-align: center;
    color: #918094;
  }
}

@include breakpoint($xmedium, $medium) {
  .testimonials {

    &__heading {
      font-size: 42px;
    }

    &__block-wrapper {
      justify-content: space-between;
    }

    &__block {
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 60px;
      width: 50%;
      padding: 0 5%;
    }

    &__img-wrapper {
      margin-bottom: 20px;
    }

    &__line {
      width: 100%;
      margin: 0 auto;
    }

    &__additional-text {
      font-size: 12px;
      line-height: 18px;
      padding: 40px 0 16px 0;
    }
  }
}

@include breakpoint(0, $s) {
  .testimonials {

    &__heading {
      font-size: 36px;
    }

    &__block-wrapper {
      justify-content: center;
    }

    &__block {
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 40px;
      width: 100%;
    }

    &__img-wrapper {
      margin-bottom: 20px;
    }

    &__line {
      width: 100%;
      margin: 0 auto;
    }

    &__additional-text {
      display: none;
    }
  }
}